        #main-container {
            display: flex;
            flex-direction: column;
            gap: 40px;
            margin-left: 30%;
        }

        .poll{
            display: flex;
            flex-direction: column; 
            gap:10px;
        }

        /* Common styles for all boxes */
        .box {
            width: 750px;
            height: 150px;
            font-size: 25px;
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            align-items: center;
        }

        .box[data-page-type="dewdrop"] {
            background-color: rgb(239, 14, 33);
        }

        .box[data-page-type="pebble"] {
            background-color: rgb(13,235,53);
        }

        .box[data-page-type="twinkle"] {
            background-color: rgb(239, 224, 10);
        }

        .box[data-page-type="whimsy"] {
            background-color: rgb(241, 7, 222);
        }

        /* Styles for text and emoji sections */
        .text-section {
            flex: 1;
            padding-right: 20px;
        }

        .emoji-section {
            width: 100px;
            text-align: center;
            font-size: 40px;
        }

        .emoji-count {
            display:flex;
            align-items: center;
            gap: 8px;
            font-size: 32px;
        }

        .emoji-count .count{
            font-size: 20px;
        }