*{
    box-sizing: border-box;
}

.logo {
    width: min(40vw, 180px);
    height: auto;

}

.logo-wrapper{
    display:flex;
    justify-content:center;
    margin-bottom: 2rem;
}

.app-shell{
    width: 100%;
    min-height: 100svh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.app-content{
    width: min(90vw, 420px);
    display:flex;
    flex-direction: column;
    align-items: center;
}

body{
    margin: 0;
    color:white;
    font-family: "Delius", serif;
}


.profile-container{
    width: 100%;
    display:flex;
    flex-direction: column;
    gap: 1rem;
}

.avatar-grid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:12px;
}

.avatar{
    aspect-ratio: 1 / 1;
    border-radius: 12px;
    border: 4px solid #8f7cff;
    background: transparent;

    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0.25rem;
    cursor: pointer;
}

.avatar img{
    width: 90%;
    height:90%;
    object-fit:contain; 
    pointer-events: none;

}
/*avatar grid buttons*/

.avatar.selected {
    background: repeating-linear-gradient(
        45deg, 
        #8f7cff, 
        #8f7cff 6px, 
        transparent 6px, 
        transparent 12px
    );
}

.bottom-bar{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border: 4px solid #8f7cff;
    width: 100%;
    max-width: 420px;
    border-radius: 18px;
    padding: 0.8rem;
}

/*preview box in the bottom bar*/
.selected-avatar {
    width: 36px; 
    height: 36px; 
    margin-right: 12px;
    border-radius: 10px; 
    display: flex; 
    align-items: center; 
    justify-content: center;
    flex-shrink: 0;

}

.selected-avatar img {
    width: 70%; 
    height: 70%; 
    object-fit: contain; 
    display: none;
}

#selectedAvatarImg{
    width:48px; 
    height: 48px; 
    border-radius: 50%; 
    display: none; 
    object-fit:cover; 
}

#usernameInput{
    color:black;
    opacity:0.5;
}


/* button */
.next-button {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;

  position: relative;
  overflow: hidden;
  z-index: 0;

  padding: 5px 8px;
  border-radius: 14px;

  font-size: 1.4rem;
  font-weight: 150;
  color: white;

  background: linear-gradient(
    to bottom,
    #9dff7a 0%,
    #4fd93a 45%,
    #2bbf1e 100%
  );

  box-shadow:
    inset 0 2px 0 rgba(255,255,255,0.45),
    inset 0 -2px 0 rgba(0,0,0,0.25),
    0 6px 14px rgba(0,0,0,0.25);

  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.next-button::before {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: 12px;

  background: linear-gradient(
    to bottom,
    rgba(255,255,255,0.6),
    rgba(255,255,255,0.1)
  );

  pointer-events: none;
  z-index: 1;
}

.next-button:hover {
  transform: translateY(-1px);
}

.next-button:active {
  transform: translateY(1px);
}

.footer-ui{
    width:100%
}
